@model Product
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="container">
    <div class="row">
        <h2>Add a product</h2>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div>
                        <div class="form-group">
                            <label asp-for="ProductId" class="control-label"></label>
                            <input asp-for="ProductId" class="form-control" />
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemoryGB" class="control-label"></label>
                            <input asp-for="MemoryGB" class="form-control" />
                            <span asp-validation-for="MemoryGB" class="new text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="KostenPerMaand" class="control-label"></label>
                            <input asp-for="KostenPerMaand" class="form-control" />
                            <span asp-validation-for="KostenPerMaand" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CPU" class="control-label"></label>
                            <input asp-for="CPU" class="form-control" />
                            <span asp-validation-for="CPU" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiskType" class="control-label"></label>
                            <input asp-for="DiskType" class="form-control" />
                            <span asp-validation-for="DiskType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div>
        <a asp-action="Index">Terug naar klanten</a>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}